extends container

block content
    div
        h1 Hi, vacancy that could suit you has been removed!
        div
            b Category:
            |  #{category}
            br
            b Level:
            |  #{level}
            br
            b Company:
            |  #{company}
            br
            b JapaneseRequired:
            |  #{japaneseRequired}